#contactSection{
    h1{
        margin-bottom: 0px;
    }
}
#contactWrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    /*minimum margin hack!*/
    border: transparent solid 2vw;
}

.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
    img{
        height: 3em;
    }
}
