#contactWrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    /*minimum margin hack!*/
    border: transparent solid 2vw;
}

.contactContainer{
    display: flex;
}
