.introContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    height: 75vh;
    font-size: 2em;
    margin: auto;
    
    /*minimum margin hack!*/
    border: transparent solid 5vw;
    
    li{
        margin-top: 3vh;
    }
}