$projectSideLength: 300px;

.projectsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.project{
    display: flex;
    box-sizing: border-box;
    border: 7px solid black;
    width: $projectSideLength;
    height: $projectSideLength;
    margin: $projectSideLength/30;
    margin-bottom: $projectSideLength/15;
    
    transition: transform .5s;
    &:hover{
        transform: scale(1.5);
    }
    img {
        /*Make image stretch to fit*/
        width: 100%;
        height: 100%;
    }
}

$photoSideLength: 200px;
.projectContent{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    font-size: 1.5em;
}
.projectPhotoWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.projectPhoto{
    display: flex;
    max-width: $photoSideLength;
    max-height: $photoSideLength;
    box-sizing: border-box;
    border: 5px solid black;
    margin: $photoSideLength/30;
    margin-bottom: $photoSideLength/15;
    transition: transform .5s;
    &:hover{
        transform: scale(1.5);
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.largeMagnify{
    &:hover{
        transform: scale(5);
    }
}