#resumeWrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 800px;
    h2{
        margin-bottom: .1em;
    }
    /*minimum margin hack!*/
    border-right: transparent solid 5vw;
    border-left: transparent solid 5vw;

}
/*Child of resumeWrapper*/
.entryWrapper{
    display: flex;
    flex-direction: column;
    ul{
        margin-top: .1em;
    }
}
/*Child of entryWrapper*/
.flexRow{
    display: flex;
    flex-direction: row;
    /*
    flex-grow to fill .entryWrapper
    so that justify-content works properly
    */
    flex-grow: 1; 
    justify-content: space-between;
}
/*Child of flex row*/
.flexItem{
    display: flex;
    /*Eliminate unneeded vertical space*/
    margin: .1em;
}
.heading{
    border-bottom: 1px solid black;
}
.skillList{
    flex-grow: 4;
}
