---
# Jekyll Front Matter
---
$page-width : 900px;
.container {
    max-width: $page-width;
}

.hero-body {
    padding-top: 1em;
    padding-bottom: 0px;
    padding-left: 0px;
}

.socials-list {
    li {
        display: inline;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: $page-width - 100px;
}
.card-dropdown-icon {
    margin: auto;
    padding: .5em;
}
.card-header-title{
    font-weight: normal;
    font-size: 1.1rem;
}
.job-highlights{
    max-width: $page-width - 100px;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-wrapper{
    display: flex;
    flex-direction: column;

    margin: 10px 0px 10px 0px;
    width: 15vw;
    height: 5w;
    min-width: 250px;
}

/* Utility classes  */
.hidden {
    display: none;   
}

.float-right{
    float: right;
}

.with-bullets{
    list-style-type: circle;
}
.colour-link{
    color: blue;
}