@import url("https://fonts.googleapis.com/css?family=Lato");
#navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*For splitting up 'brandName' and 'navItem'*/
  padding-top: 1em;
  /*Little bit of space away from top of page*/
  border-bottom: 1px solid black; }

#brandName {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  flex-grow: 6;
  margin-left: .5em; }
  #brandName a {
    color: inherit; }

.navItem {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  font-size: 1.25em;
  padding-bottom: .5em;
  margin-right: 2vw; }
  .navItem a {
    color: inherit; }

.introContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  height: 75vh;
  font-size: 2em;
  margin: auto;
  /*minimum margin hack!*/
  border: transparent solid 5vw; }
  .introContent li {
    margin-top: 3vh; }

#resumeWrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 800px;
  /*minimum margin hack!*/
  border-right: transparent solid 5vw;
  border-left: transparent solid 5vw; }
  #resumeWrapper h2 {
    margin-bottom: .1em; }

/*Child of resumeWrapper*/
.entryWrapper {
  display: flex;
  flex-direction: column; }
  .entryWrapper ul {
    margin-top: .1em; }

/*Child of entryWrapper*/
.flexRow {
  display: flex;
  flex-direction: row;
  /*
  flex-grow to fill .entryWrapper
  so that justify-content works properly
  */
  flex-grow: 1;
  justify-content: space-between; }

/*Child of flex row*/
.flexItem {
  display: flex;
  /*Eliminate unneeded vertical space*/
  margin: .1em; }

.heading {
  border-bottom: 1px solid black; }

.skillList {
  flex-grow: 4; }

.projectsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%; }

.projectContainer {
  display: flex;
  box-sizing: border-box;
  border: 7px solid black;
  width: 300px;
  height: 300px;
  margin: 10px;
  margin-bottom: 20px;
  transition: transform .5s; }
  .projectContainer:hover {
    transform: scale(1.5); }
  .projectContainer img {
    /*Make image stretch to fit*/
    width: 100%;
    height: 100%; }

.projectContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  font-size: 1.5em; }

.projectPhotoWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.projectPhoto {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  border: 5px solid black;
  margin: 6.66667px;
  margin-bottom: 13.33333px;
  transition: transform .5s; }
  .projectPhoto:hover {
    transform: scale(1.5); }
  .projectPhoto img {
    width: 100%;
    height: 100%; }

.largeMagnify:hover {
  transform: scale(5); }

#contactWrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  /*minimum margin hack!*/
  border: transparent solid 2vw; }

.contactContainer {
  display: flex; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

#allContent {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: auto; }

.section {
  border-top: solid black 1px; }

/*Helper classes*/
.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.oblique {
  font-style: oblique; }

.hidden {
  display: none; }

/*For scalability*/
h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p {
  font-size: 1rem; }

@media (max-width: 480px) {
  html {
    font-size: 12px; } }
@media (min-width: 480px) {
  html {
    font-size: 13px; } }
@media (min-width: 768px) {
  html {
    font-size: 14px; } }
@media (min-width: 992px) {
  html {
    font-size: 15px; } }
@media (min-width: 1200px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=custom.css.map */
