@import 'navbar';
@import 'intro';
@import 'resume';
@import 'projects';
@import 'contact';
@import url('https://fonts.googleapis.com/css?family=Lato');
$primaryColor: #FFF;
html, body { 
    margin:0; 
    padding:0; 
    background-color: $primaryColor;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
#allContent{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: auto;
}
.section{
    border-top: solid black 1px;
}
/*Helper classes*/
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}
.hidden{
    display: none;
}



/*For scalability*/
h1 {font-size: 2.5rem;}
h2 {font-size: 2.25rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.75rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1.25rem;}
p {font-size: 1rem;}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
