@import 'navbar';
@import 'resume';
@import 'projects';
$primaryColor: #FFFAFA; /*Warmer white*/
html, body { 
    margin:0; 
    padding:0; 
    background-color: $primaryColor;
    font-family: Gotham;
}
#allContent{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: auto;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}
a{
    text-decoration: none;
}