<div id='resume'>
    <p class="subtitle">Experience</p>
    <hr> {% for experience in site.data.resume.work %}
    <div class="experience-snippet">
        <div class="columns">
            <div class="column">
                {{experience.position}}
            </div>
            <div class="column">
                {{experience.company}}
            </div>
            <div class="column">
                {{experience.startDateFormatted}} - {{experience.endDateFormatted}}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <ul>
                    {% for highlight in experience.highlights%}
                    <li>{{highlight}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% endfor %}
    </div>
    <div id='education' class='resume-section'>
        <h2 class="subtitle">Education</h2>
        <hr> {% for credential in site.data.resume.education %}
        <table>
            <tr>
                <th class="left">{{credential.location.city}}, {{credential.location.regionCode}}</th>
                <th class="center">{{credential.institution}}</th>
                <th class="right">{{credential.startDateCustom}} - {{credential.endDateCustom}}</th>
        </table>
        <ul>
            <li>{{credential.studyType}} in {{credential.area}}&nbsp;{%- if credential.gpa != '' -%}GPA: {{credential.gpa}}{%
                endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
    <div id='projects' class='resume-section'>
        <h2 class="subtitle">Projects</h2>
        <hr>
        <div>
            <ul>
                {% for project in site.data.resume.projects %}
                <li><b>{{project.name}}</b>&nbsp; {% if project.website != '' %}<a href="{{project.website}}">({{project.websiteName}}){% endif %}</a>                    {% if project.githubRepo != '' %}<a href="{{project.githubRepo}}">(Github){% endif %}</a>
                    <i>{% for tech in project.technologies %}{{tech}}, {% endfor %}</i><br> {{project.summary}}
                    <br>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if site.data.resume.settings.includeSkills == 'True' %}
    <div id='skills' class='resume-section'>
        <h2 class="subtitle">Languages and Technologies</h2>
        <hr>
        <ul>
            {% for skill in skills %}
            <li>{{skill.name}}: {{ skill.keywords|join(', ') }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>