<div class="card hidden-parent">
    <header class="card-header">
        <p class="card-header-title">{{ include.experience.position }}</p>
        <p class="card-header-title">{{ include.experience.company }}</p>
        <p class="card-header-title">{{ include.experience.startDate | date: "%b, %Y" }} - {{ include.experience.endDate | date: "%b, %Y" }}</p>
    </header>
    <div class="card-content hidden">
        <ul class="job-highlights">
            {% for highlight in include.experience.highlights %}
            <li>{{ highlight }}</li>
            {% endfor %}
        </ul>
    </div>
</div>