{% assign jobID = include.experience.position | append: include.experience.company | replace:' ','' %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">{{ include.experience.position }}</p>
        <p class="card-header-title">{{ include.experience.company }}</p>
        <p class="card-header-title">{{ include.experience.startDate | date: "%b, %Y" }} - {{ include.experience.endDate | date: "%b, %Y" }}</p>
    </header>
    <div id="{{ jobID }}" class="card-content">
        <ul class="job-highlights with-bullets">
            {% for highlight in include.experience.highlights %}
            <li>{{ highlight }}</li>
            {% endfor %}
        </ul>
    </div>
    <footer class="card-footer">
        <div class="tags">
            {% for tech in include.experience.technologies %}
            <span class="tag">{{ tech }}</span>
            {% endfor %}
        </div>
    </footer>
</div>