<div class="project-wrapper">
    <p class="is-size-5">{{ include.project.name }} </p>
    <p>{{ include.project.summary }}</p>

    <div class="tags">
        {% if include.project.demo != null %}
        <span class="tag is-danger">
                <a href="{{ include.project.demo }}" target="_blank">Demo</a>
        </span>
        {% endif %}

        {% if include.project.writeup != null %}
        <span class="tag is-warning">
            <a href="{{ include.project.writeup }}" target="_blank">Write-up</a>
        </span>
        {% endif %}

        {% if include.project.source != null %}
        <span class="tag is-dark">
            <a href="{{ include.project.source }}" target="_blank">Source</a>
        </span>
        {% endif %}
        {% for tech in include.project.technologies %}
        <span class="tag">{{ tech }}</span>
        {% endfor %}
    </div>
</div>